

$firstcol : #CD5C5C;
$secondcol : #5F9EA0;
$thirdcol : #F0FFF0;
$fourcol : #ADD8E6;
$section1 : #fff;



/*

honeydew #F0FFF0 rgb(240,255,240)

lightblue #ADD8E6 rgb(173,216,230)

cadetblue #5F9EA0 rgb(95,158,160)

indianred #CD5C5C rgb(205,92,92)

font-family: 'Play', sans-serif;

font-family: 'Droid Serif', serif;

*/

// Logo font: ReklameScript;

$basicfont: 'Source Sans Pro','verdana','sans-serif';
$headerfont: 'Kaushan Script', cursive;

$basefontsize: 16px;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
